<div class="container">
  
  <!-- Upload Profile Picture -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" ng-if="user.picture || uploadSuccess">
      <img class="img-responsive img-rounded profile-picture-settings" ng-src="/assets/images/growers/{{ user.picture }}" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" ng-hide="badbrowser">
      <form class=".form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Upload Profile Picture</div>
            <input class="form-control" type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null" accept="image/*">
          </div>
          <p class="text-danger" ng-show="fileTooLarge">Your file is too large. Please upload an image less than 500kb. Sorry! ~Scott</p>
          <p class="text-danger" ng-show="wrongFileType">File type must be a png or jpeg. Geez!</p>
          <div ng-show="uploading">
          <div class="progress" ng-show="progress">
              Uploading..
              <div class="progress-bar" style="{{ 'width: ' + progress }}">
                {{ progress }}%
              </div>
            </div>
          </div>
          <p ng-show="uploadSuccess" class="text-success"><strong>Upload Success, you're awesome!</strong></p>
        </div>
      </form>
    </div>
    <div class="col-sm-6" ng-show="badbrowser">
      <h3 class="text-danger">Unable to upload file because you are using a old browser. Get Google Chrome already!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
        <form class="form" name="profileForm" ng-submit="saveProfile(profileForm)" novalid>
          <div class="form-group">
            <label>City:</label>
            <input type="text" name="city" maxlength="30" class="form-control" ng-model="user.city" mongoose-error>
          </div> 
          <div class="form-group">
            <label>State:</label>
            <input type="text" name="state" style="width: 60px" maxlength="2" size="2" class="form-control" ng-model="user.state" mongoose-error>
          </div>
          <div class="form-group">
            <label>Bio:</label>
            <textarea ng-model="user.bio" class="form-control" rows="3" maxlength="2000" mongoose-error></textarea>
            <small>2000 character max</small>
          </div>
          
          <button class="btn btn-lg btn-primary" type="submit">Save</button>
          
        </form>
    </div> 
  </div>
  
  <hr />
  <!-- Change Password -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-xs-12 col-sm-4">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group" ng-class="{'has-error':form.newPassword.$dirty && form.newPassword.$invalid}">
          <label>New Password</label>
        
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="8"
                 ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!#&*?~\$])/"
                 popover-title="Password Requirements"
                 popover="
                  8 characters in length.
                  1 uppercase character.
                  1 lowercase character.
                  1 number.
                  1 special character from the following: ! # $ * & ? ~."
                  popover-trigger="focus"
                 required/>
          <p ng-show="form.newPassword.$error.newPassword" class="help-block" >Email is invalid.</p>
        </div>
    
        <div class="form-group" ng-class="{'has-error':form.confirmNewPassword.$dirty && form.confirmNewPassword.$invalid}">
          <label>Confirm New Password</label>

          <input type="password" name="confirmNewPassword" class="form-control" ng-model="user.confirmNewPassword"
                 ng-match="form.newPassword"
                 required/>
          <p ng-show="form.confirmNewPassword.$error.match" class="help-block" >Emails do not match.</p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Change Password</button>
      </form>
    </div>
  </div>
</div>