<div class="container">
  <p class="text-center" style="margin-bottom: 20px">
    <span class="h1" style="font-size: 65px">Our Beard Growers</span><br />
    <span class="h3" style="font-size: 35px"><small>Give them a highfive when you see them!</small></span>
    <hr />
  </p>
  <div class="row top-buffer grower-anim" ng-repeat="grower in growers">
    <div class="col-sm-6 col-xs-12">
      <a ng-click="gotoGrower(grower)">
        <img ng-if="grower.picture" class="img-responsive img-rounded profile-picture pull-right" ng-src="/assets/images/growers/{{ grower.picture}}" />
        <span ng-hide="grower.picture" class="profile-picture-absent">
          <span class="glyphicon glyphicon-user pull-right"></span>
        </span>
      </a>
    </div>
    <div class="col-sm-6 col-xs-12">
      <span class="h2" ng-click="gotoGrower(grower)">{{ grower.name }}</span>
      <p>{{ grower.city + ',&nbsp'}}{{ grower.state}}</p>
      <p>Raised: <strong>{{ grower.raised || '$0' | currency }}</strong></p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="KWQM85LPRDEA8">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="Supporting a Grower">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="cn" value="Add special instructions to the seller:">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="return" value="http://www.bigbeardsforababy.com/thankyou">
        <input type="hidden" name="cancel_return" value="http://www.bigbeardsforababy.com/">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
        <table>
          <tr><td><input type="hidden" name="on0" value="Grower:"></td></tr><tr><td><input type="hidden" name="os0" maxlength="200" value="{{ grower.name }}"></td></tr>
        </table>
        <input type="submit" value="{{ 'Support ' + grower.name +'\'s Beard!'}}" class="btn btn-success" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>

      <p style="margin-top:15px">{{ grower.mungedBio }}</p>

    </div>
  </div>
</div>
