<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img ng-if="grower.picture" class="img-responsive img-rounded profile-picture" ng-src="/assets/images/growers/{{ grower.picture}}" />
      <span ng-hide="grower.picture" class="profile-picture-absent">
        <span class="glyphicon glyphicon-user"></span>
      </span>
    </div>
    <div class="col-sm-6">
      <h1>{{ grower.name }}</h1>
      <div class="profile-prop"><strong>Location:</strong></div>{{ grower.city || 'Not Selected' }}, {{ grower.state || 'NA' }}<br />
      <div class="profile-prop"><strong>Raised:</strong></div>{{ grower.raised || 0 | currency }}<br />
      <div class="profile-prop"><strong>Instagram:</strong></div><a ng-show="grower.instagram" href="{{'http://instagram.com/' + grower.instagram}}" target="_blank">@{{grower.instagram}}</a><br />
      <div class="profile-prop"><strong>Twitter:</strong></div><a ng-show="grower.twitter" href="{{'http://twitter.com/' + grower.twitter}}" target="_blank">@{{grower.twitter}}</a><br />
      <div class="progress top-buffer text-center">
        <div class="progress-bar progress-bar-success" style="{{ 'width:' + progress + '%;' }}">{{ progress }}%</i></div>
        <span ng-if="left">{{ left }}%</span>
      </div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="KWQM85LPRDEA8">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="Supporting a Grower">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="cn" value="Add special instructions to the seller:">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="return" value="http://www.bigbeardsforababy.com/thankyou">
        <input type="hidden" name="cancel_return" value="http://www.bigbeardsforababy.com/">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
        <table>
          <tr><td><input type="hidden" name="on0" value="Grower:"></td></tr><tr><td><input type="hidden" name="os0" maxlength="200" value="{{ grower.name }}"></td></tr>
        </table>
        <input type="submit" value="{{ 'Support ' + grower.name +'\'s Beard!'}}" class="btn btn-success btn-lg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>
      <h4>Share</h4>
      <div class="sharebox">
        <ul ng-social-buttons
            data-url="absUrl"
            data-title="'Checkout '+grower.name+'\'s Beard!'"
            data-description="'Checkout '+grower.name+'\'s Beard!'"
            showcounts="true"
            data-image="host + '/assests/images/growers/' + grower.picture">
          <li class="ng-social-facebook">Facebook</li>
          <li class="ng-social-twitter">Twitter</li>
          <li class="ng-social-pinterest">Pinterest</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Badges</h3>
      <span class="fa fa-thumbs-o-up profile-badge" tooltip="{{grower.name + ' has registered to become a Beard Grower!'}}"></span>
      <span class="fa fa-instagram profile-badge" ng-show="grower.instagram" style="color:#06365f" tooltip="{{grower.name + ' has linked their instagram account to their Beard profile!'}}"></span>
      <span class="fa fa-twitter profile-badge" ng-show="grower.twitter" style="color:#55acee" tooltip="{{grower.name + ' has linked their twitter account to their Beard profile!'}}"></span>
      <span class="fa fa-gift profile-badge" ng-show="grower.raised > 0" style="color:#d9534f"  tooltip="{{grower.name + ' has been supported by a sponsor!'}}"></span>
      <span class="profile-badge" ng-show="progress >= 25" style="color:#f0ad4e"  tooltip="25% Raised!">25%</span>
      <span class="profile-badge" ng-show="progress >= 50" style="color:#5bc0de"  tooltip="50% Raised!">50%</span>
      <span class="profile-badge" ng-show="progress >= 75" style="color:#428bca"  tooltip="75% Raised!">75%</span>
      <span class="profile-badge" ng-show="progress >= 100" style="color:#5cb85c"  tooltip="100% Raised! Woah!">100%!</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr />
      <h3>Bio</h3>
      <p>
        {{ grower.bio || 'No Bio Provided...' }} 
      </p>
    </div> 
  </div>
</div>
